$black: #0c0624;
$white: #fff;
$blue: #2398ff;
$orange: #ffab23;
$green: #5db912;
$red: #e84144;
$lightGray: #ebebeb;
$slightlyDifferentShadeOfGray: #707070;
$slightlyDifferentShadeOfGrayForTopSearch: #928cad;
$gray: #707070;
$darkGray: #363636;
$lightPurple: #e2dee8; /* light purple */
$insetShade: #23194B; /* darker purple */
$purple: #39316d;
$darkPurple: #1a113e;

/* Social Networks */
$twitter: #2fc2ef;
$facebook: #3b5998;
$linkedin: #0d7db7;